.friends{
  width: 100%;
  background-color: darkolivegreen;
  color: black;
}
.userList{
  display: flex;
  flex-direction: column;
}
.userPhoto{
  width: 200px;
  height: 200px;
}
.pageList{
  list-style-type: none;
  display: flex;
}
.pageList li{
 margin-left: 5px;
}
.selectedPage{
  color:red;
}
.pageList li:hover{
  cursor: pointer;
}
