.headerWrapper{
    background-color: #FFFFFF;
}
.header{
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    height: 48px;
}
.title{
    color: white;
    background-color:#447bba; ;
    text-transform: uppercase;
    font-size: 28px;
}

