.profileInfo{
    display: flex;
    justify-content: space-between;
    
    background-color: white;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.avatar{
    background-color: #edeef0;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.discription{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.name{
    font-size: 55px;
    font-weight: bold;
}
.city{
    font-size: 35px;
}
.status{
    font-size: 25px;
    font-style: italic;
}